@*Här är vyn för info och här filtreras rätt alster in i rätt kategori och detta görs även här med foreach skriven i razor kod.
kod skriven med C# i en HTML fil. Namnet på kategorin är sparat i en view bag för att man ska kunna se vilken kategori man valt.*@

@model IEnumerable<ArtworkItems>

<h1>@ViewBag.CategoryName</h1>

<strong><h3>Här är alla alster i denna kategori:</h3></strong>

<div id="productGallery">
@foreach (var artwork in Model)
{
     
    <div class="divForItems">
        <img id="picture" src="~/img/Artwork_@(artwork.ArtworkItemsId).jpg"><br>
        <strong>Namn:</strong> @artwork.ArtworkName<br>
        <strong>Beskrivning:</strong> @artwork.ArtworkDescription<br>
        <strong>Skapare:</strong> @artwork.CreatedArtwork<br>
        <strong>År skapat:</strong> @artwork.YearCreated<br>
    </div>
}
</div>

