@model IEnumerable<ArtworkItems>

<h1>@ViewBag.CategoryName</h1>

<strong><h3>Här är alla alster i denna kategori:</h3></strong>

<div id="productGallery">
@foreach (var artwork in Model)
{
     
    <div class="divForItems">
        <img id="picture" src="~/img/Artwork_@(artwork.ArtworkItemsId).jpg"><br>
        <strong>Namn:</strong> @artwork.ArtworkName<br>
        <strong>Beskrivning:</strong> @artwork.ArtworkDescription<br>
        <strong>Skapare:</strong> @artwork.CreatedArtwork<br>
        <strong>År skapat:</strong> @artwork.YearCreated<br>
    </div>
}
</div>

